@{
    ViewData["Title"] = "Home Page";
}
@model Notenverwaltung.Models.AnmeldenViewModel

<div class="text-center">
    <h1>Willkommen zum Notenrechner</h1>
    <form method="post" asp-controller="Home" asp-action="Anmelden">
        <input type="text" placeholder="Benutzername" asp-for="benutzerName" /><br />
        <input type="password" placeholder="Passwort" asp-for="benutzerPasswort" /><br />
        <input type="submit" value="Anmelden" />
    </form>
    <form method="post" asp-controller="Home" asp-action="Registrieren">
        <input type="submit" value="Registrieren" />
    </form>
    <span class="alert-danger">@TempData["AnmeldenMessage"]</span>
    <span class="alert-success">@TempData["BenutzerErstelltMessage"]</span>
</div>